mixin icon_link(href, uri, alt_tag )
    a(href=href)
        img(src=uri alt=alt_tag style={height: '36px', margin: '1em .5em 1em .5em'})

mixin student_card(name, img, bio, href)
    div(class="col-8 col-lg-4 col-xl-3")
        div(class="card")
            div(width="223", height="200" overflow="hidden")
                img(src=img, height="200", class="card-img-top, profilePic", alt="Profile image of PhD Student")
            div(class="card-body")
                h5(class="card-title")=name
                p(class="card-text")=bio

                div(class="card-body")
                    a(href=href class="card-link") Learn more

mixin publication_table(pub_type)
    table(class="table table-striped table-sm")
        thead
            tr
                th Year
                th Authors
                th Title
                th Venue
                th
                    img(src='img/adobeacrobatreader.svg' alt='.pdf')
                th
                    img(src='img/researchgate.svg' alt='ResearchGate')
                th
                    img(src='img/googlescholar.svg' alt='Google Scholar')
        tbody
            each paper in PUBLICATIONS.pub
                if paper.type === pub_type
                    tr
                        td !{paper.year}
                        td !{paper.authors}
                        td !{paper.title}
                        td !{paper.venue}
                        if paper.pdf
                            td
                                a(href=paper.pdf title='.pdf download')
                                    img(src='img/adobeacrobatreader.svg')
                        else
                            td NA
                        if paper.research_gate
                            td
                                a(href=paper.research_gate title='View on ResearchGate')
                                    img(src='img/researchgate.svg' )
                        else
                            td NA
                        if paper.google_scholar
                            td
                                a(href=paper.google_scholar title='View on Google Scholar')
                                    img(src='img/googlescholar.svg' )
                        else
                            td NA

mixin research_topic(topic, sub_topic_1, sub_topic_2, sub_topic_3, research_href)
    div(class="card")
        div(class="card-body")
            h5(class="card-title")=topic
            ul(class="card-text")
                li=sub_topic_1
                li=sub_topic_2
                li=sub_topic_3
            a(href=research_href class="card-link") Learn more

