doctype html
html(lang="en")
	include components/head.pug
	body
		include components/nav.pug
		div(class="container" style="margin-top:30px")
			div(class="row")
				div(class="col-sm-4")
					include components/left_side_bar.pug
				div(class="col-sm-8")
					each post in POSTS.posts
						if post.title
							h4 !{post.title}
						if post.subtitle
							h5 !{post.subtitle}, !{post.date}
						br
						if post.video
								div(class="text-center")
									//iframe(width="560" height="315" src=post.video title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
									div(class="embed-responsive embed-responsive-16by9")
										iframe(class="embed-responsive-item" src=post.video allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)


						if post.paragraph
							p !{post.paragraph}
						if post.camera_ready_url
							p The camera-ready pre-print is available [
								a(href=post.camera_ready_url) here
								|].
						if post.video_url
								|A video presentation is available [
								a(href=post.video_url) here
								|].
						if post.os_dist
								|!{post.os_dist.comment} [
								a(href=post.os_dist.url) here
								|].
						br
		include components/footer.pug
				
